body {
  margin: 0;
  font-family: Mark,Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Mark,Avenir,Helvetica,Arial,sans-serif;
}
